body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.container button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.container button:not(:first-child) {
  margin-left: 16px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}